.root{
	-fx-background-image: url("battlefield_2.jpg");
	-fx-background-repeat: no-repeat;
	-fx-background-size: 500px 275px;
}

.label{
	-fx-font-family: "Courier Regular";
	-fx-font-size: 15;
	-fx-text-fill: black;

}

#menusbg{
	-fx-fill: teal;
}

#menubg{
	-fx-fill: #ccffcc;
	-fx-arc-height: 40;
	-fx-arc-width: 40;	
}

#menu{
	-fx-fill: teal;
}